.serchInput input {
  width: 544px;
  height: 40px;
  padding: 8.75px 206px 8.75px 40px;

  border: 1px solid #ccdad1;
  opacity: 0px;

  outline-color: floralwhite;

  background-color: #f5f7f9;
  color: #babec5;
}
.serchInput input::placeholder {
  font-family: "Plus Jakarta Sans";
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #dfc6c6;
  padding: 2px;
}

.serchbox {
  position: relative;

  width: 40%;
  padding: 2rem;
}
.CiSearch {
  position: absolute;
  top: 35px;
  color: #ff8500;
  left: 15%;
  font-size: 25px;
  font-weight: bolder;
}
