.DataContainer {
  padding: 1rem;
}
.DataContainer2 {
  background-color: white;
}

.staff_addnew {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}
.download_showingEntries {
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
}
.download_showingEntries span {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #88918b;
}
.GenerateCode_container1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.GenerateCode_container_h1 h1 {
  font-family: "Plus Jakarta Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 40px;
  color: #0a0f29;
}
.staff_mobile {
  display: none;
}
@media screen and (max-width: 760px) {
  .staff_mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    margin-top: 80px;
  }
  .GenerateCode_container1 {
    padding: unset;
  }
  .GenerateCode_container_h1 h1 {
    font-weight: 700;
  }
  .staff_addnew {
    display: none;
  }
}
